@{
    ViewBag.Title = "About";
}


@Html.Partial("_BreadCrumbs")

<div class="container content">
    <div class="row about-me margin-bottom-40">
        <div class="col-md-5 shadow-wrapper md-margin-bottom-20">
            <div class="box-shadow shadow-effect-2">
                <img class="img-responsive" src="~/Content/img/officeView.jpg" alt="">
            </div>
        </div>
        <div class="col-md-7">
            <div class="overflow-h">
                <div class="pull-left">
                    <h2>Teck Notes</h2>
                    <span>Web Development</span>
                </div>
                <ul class="social-icons pull-right">
                    <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                    <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                    <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                    <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                </ul>
            </div>
            <p>TeckNotes is an idea that I have been thinking of launching for quite a while over the years.  When I was growing up, I always wanted to read a journal or a blog of a developer that was growing their skills and exploring what is possible in the realm of web and application development.  This is sort of a "journal", but much more than that, it is a place to learn!</p>
            <p>This site is spawned in an effort for me to catalog the journey and help others learn and see what is possible.  Of course, this means that the topics will be very broad and expansive and will range from very beginner to fairly advanced stages(when I get there!)</p>
            <ul class="list-unstyled">
                <li><i class="color-green fa fa-check"></i> Learn</li>
                <li><i class="color-green fa fa-check"></i> Record</li>
                <li><i class="color-green fa fa-check"></i> Teach</li>
                <li><i class="color-green fa fa-check"></i> Grow</li>
            </ul>
        </div>
    </div>


</div>