
@{
    ViewBag.Title = "Error500";
}

<div class="container text-center">
    <br />
    <br />

 
    <img src="~/Content/img/500Error.png" alt="Internal Server Error Image" />
    <br />
    <br />

</div>