
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">@ViewBag.Title</h1>
        <ul class="pull-right breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">@ViewBag.Title</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->