

@*TODO: I'll have to work on this at some point...
    *@

<div id="settings" class="profile-edit tab-pane fade">
    <h2 class="heading-md">Manage your Notifications.</h2>
    <p>Below are the notifications you may manage.</p>
    <br />

    <form class="sky-form" id="sky-form" action="">

        <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i></i>Email notifications</label>
        <br />
        <br />
        <button class="btn-u" type="submit">Save Changes</button>
    </form>
</div>
