
@{
    ViewBag.Title = "Redirecting";
    Layout = "~/Views/Shared/_RedirectLayout.cshtml";
}




<!--=== Error V4 ===-->
<div class="container content">
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v4">
                <a href="/">
                    <img id="logo-header" src="~/Content/img/logo.png" alt="Logo">
                </a>
                <h1>:)</h1>
                <span class="sorry">Thank you for your subscription registration!  You are being redirected automatically in 5 seconds back to the Home Page.</span>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <a class="btn-u btn-brd btn-u-light" href="#"> Go To Home Page Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/container-->
<!--End Error Block-->