@model PagedList.IPagedList<PublicImage>



@{
    ViewBag.Title = "Image Dump";
}

@section extraStyles{
    <link rel="stylesheet" href="~/Content/css/plugins/line-icons/line-icons.css">

    <link href="~/Content/css/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />

    <link href="~/Content/css/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css" rel="stylesheet" />


}

@Html.Partial("_BreadCrumbs")

<!--=== Content Part ===-->
<div class="container content">
    <div class="gallery-page">

        @if (User.IsInRole("Admin"))
        {
            Html.RenderAction("ImageUploadForm", "Imagedump");
        }


        <hr class="margin-bottom-30">
        <div class="row margin-bottom-20">
            @foreach (var image in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="@image.Description" href=@image.ImagePath>
                        <span class="overlay-zoom">
                            <img alt="@image.Description" src=@image.ImagePath class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>
                    </a>
                </div>


            }
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.TwitterBootstrapPager)




        <hr class="margin-bottom-30">



    </div><!--/gallery-page-->
</div><!--/container-->
<!--=== End Content Part ===-->
@section scripts{


}



@section appInit{


    <script src="~/Scripts/app.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
}